CONFIG = {
    'mode': 'wsgi',
    'working_dir': '%ROOT_DIR%',
    # 'user': 'www-data',
    # 'group': 'www-data',
    'python': '/usr/bin/python3',
    'args': (
        '--bind=0.0.0.0:8080',
        '--workers=16',
        # '--worker-class=egg:gunicorn#sync',
        '--timeout=60',
        'hello.app',
    ),
}
